@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


// Declare SCSS variables
$primary-color: #333;
$secondary-color: #ccc;
$accent: #ffa500;
$font-stack: Helvetica, sans-serif;


